<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_com1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_com10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,470},{210,210}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{210,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>fish_com2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_com3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>fish_com4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{136,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{136,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fish_com5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,656},{124,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{124,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fish_com6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{236,254}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{236,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_com7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fish_com8.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,776},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{120,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>fish_com9.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,258},{210,216}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{210,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish_com.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc5508858390a0d3c4eaf9b406a3de90$</string>
            <key>textureFileName</key>
            <string>fish_com.png</string>
        </dict>
    </dict>
</plist>

                                                                    