<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish14_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,128}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{280,128}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>fish14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{278,128}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{278,128}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>fish14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,282},{276,128}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{276,128}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>fish14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{276,126}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{276,126}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>fish14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{278,124}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{278,124}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>fish14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,560},{276,122}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,25},{276,122}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>fish14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{276,122}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{276,122}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
            <key>fish14_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{278,126}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{278,126}}</string>
                <key>sourceSize</key>
                <string>{320,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish14.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f269d6aab1cbef5b0ad7c7ade33b0658$</string>
            <key>textureFileName</key>
            <string>fish14.png</string>
        </dict>
    </dict>
</plist>

                                                 