<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,40}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>fish03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{60,38}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>fish03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,42},{60,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{60,32}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>fish03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{62,26}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{62,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>fish03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{62,24}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{62,24}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>fish03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{60,26}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{60,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>fish03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,76},{60,30}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{60,30}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>fish03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{62,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{62,36}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish03.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e090b426046544d8b7bf48430a81d24$</string>
            <key>textureFileName</key>
            <string>fish03.png</string>
        </dict>
    </dict>
</plist>

                                                                  