<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{72,52}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{72,52}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>fish10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{72,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{72,64}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>fish10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{72,76}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>fish10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{72,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{72,74}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>fish10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,156},{72,58}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{72,58}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>fish10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,76},{72,42}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{72,42}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>fish10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,76},{70,44}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{70,44}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>fish10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,46}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{72,46}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:794e273d1bb586a4b6ab1d0f119e9d9b$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>

                                                                  