<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish09_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{118,146}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{118,146}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>fish09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,166},{124,142}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{124,142}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>fish09_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,310},{134,138}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{134,138}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>fish09_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{134,138}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{134,138}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>fish09_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,142},{130,134}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{130,134}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>fish09_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,330},{122,144}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{122,144}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>fish09_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{124,162}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{124,162}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>fish09_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,162}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,27},{132,162}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish09.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d70ec2ecc45dcf7ffea3eb700736cb57$</string>
            <key>textureFileName</key>
            <string>fish09.png</string>
        </dict>
    </dict>
</plist>

                                                                                