<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish201_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{260,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{260,118}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>fish201_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{260,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{260,122}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>fish201_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{260,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{260,122}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>fish201_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,264},{260,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>fish201_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{260,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{260,122}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>fish201_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,122}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>fish201_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{260,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,120}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
            <key>fish201_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{260,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{260,118}}</string>
                <key>sourceSize</key>
                <string>{260,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish201.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35e0425b0b96d54a041fc1b4ff9c7b99$</string>
            <key>textureFileName</key>
            <string>fish201.png</string>
        </dict>
    </dict>
</plist>

                                                                             