<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{82,24}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{82,24}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>fish01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{82,24}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{82,24}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>fish01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{82,24}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{82,24}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>fish01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{82,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{82,26}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>fish01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,84},{80,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{80,28}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>fish01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{80,28}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{80,28}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>fish01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{82,28}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>fish01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{82,24}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{82,24}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish01.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13974ffaa23b02e93d18869702d2e965$</string>
            <key>textureFileName</key>
            <string>fish01.png</string>
        </dict>
    </dict>
</plist>

                                                              