<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish05_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{88,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{88,52}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>fish05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{88,50}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{88,50}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>fish05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{88,42}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{88,42}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>fish05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{90,38}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{90,38}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>fish05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,46},{90,38}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{90,38}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>fish05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,42}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{90,42}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>fish05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,44}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{90,44}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>fish05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,86},{88,50}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{88,50}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish05.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f77d9b909cd22d4abe70461d5ada640$</string>
            <key>textureFileName</key>
            <string>fish05.png</string>
        </dict>
    </dict>
</plist>

                              